* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

/* html{
    background: ${theme.colors.white.white_900};
  }
   */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#__next {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}
